* {
  box-sizing: border-box;
}
.button {
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-left: 10px;
}
.button:hover {
  background-color: #ccc;
}
.count-title span {
  color: #646464;
  font-weight: bold;
}

