.card-image {
    display: block;
    min-height: 20rem;
  

  }
  
  img .poster{
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .card {
    display: inline-block;
    width: 100%;
    max-width: 20rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;

  }
  .like-icon {
    color: red;
  }
.MuiCardActions-root{
    float:right;

    z-index:  1;
}

