.box {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px 40px;
    margin-top: 100px;
}

div.select {
    padding-bottom: 17px;
}
/* .MuiFormControl-root{
    padding-bottom: 17px;
} */


button.reg {
    padding: 16px 72px;
    margin: 20px 0 0 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

div.login {
    margin: 40px 0 0 0px;
    text-align: center;
}

button.log {
    padding: 8px 32px;
    margin: 0px 0 0 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p.error {
    font-size: 12px;
    color: red;
    line-height: 0em;
    margin-bottom: 25px;
}

