.box {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px 40px;
    margin-top: 100px;
}

button.log {
    padding: 16px 72px;
    margin: 0px 0 0 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

div.registration {
    margin: 40px 0 0 0px;
    text-align: center;
}