* {
	box-sizing: border-box;
}

.item {
  display: flex;
  align-items: center;
  height: 40px;
}
.songs-wrapper {
  margin-top: 5px;
  border: 2px solid #ccc;
  width: 550px;
  
}
.button {
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-left: 10px;
}
.button:hover {
  background-color: #ccc;
}
.add {
  background-color: #e0e0e0;
}
li {
    margin-top: 10px;
    list-style-type: none;
}
.like {
  background-color: #ff9fa4;
}
.delete {
  background-color: #a6e2f5;

}
.input-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.count-title span {
  color: #646464;
	font-weight: bold;
}
.like-icon {
  height: 100%;
	margin-left: -30px;
    margin-right: 10px;
}
