.film-wrapper {
    display: grid;
    /* grid-template-rows: 60px 1fr; */
    grid-template-columns: 3fr 9fr;
    grid-gap: 40px;
    grid-template-areas: 
    'poster description'
    'search search'
    's c';
    margin: 10px 40px;
  }
  /* .first {
    border-bottom: 1px solid #ccc;
    background-position: right -253px top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/vvObT0eIWGlArLQx3K5wZ0uT812.jpg);
  } */
  .header {
  grid-area: h;
  background-color: #0c253f;
  }
  .sidebar {
    grid-area: s;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  
  }
  .content {
    grid-area: c;
  }
  .search {
    grid-area: search;
    width: 300px;
    background-color: #ccc;
  }
  .header img {
    height: 40px;
  }