.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 40px;
  grid-template-areas: 
  'h h'
  'search checkbox'
  's c';
}
.header {
grid-area: h;
background-color: #0c253f;
}
.sidebar {
  grid-area: s;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

}
.checkbox{
  grid-area: checkbox;
}
.content {
  grid-area: c;
}
.search {
  grid-area: search;
  width: 300px;
  background-color: #ccc;
}
.header img {
  height: 40px;
}